<%= form_for(@team,:format => :json, :remote => true) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Team info</legend>
    <div id="team_basic_info_panel" class="fields_container_panel">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :image %><br />
        <%= f.file_field :image %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Players</legend>
    <div id="team_basic_info_panel" class="fields_container_panel">
      <%= f.label :player2, "Player 2" %><br />
      <div class="field">
        <div id="team[player2_id]" name="team[player2_id]" class="player_selector second_player_selector"></div>

      </div>
    </div>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
