<div class="team_panel clickable_container">
  <div class="left_subpanel">
    <div class="team_photo">
      <%= team_photo(team) %>
    </div>
  </div>
  <div class="team_info">
    <h4 class="team_name"><%= link_to team.name, team_path(team) %></h4>
    <div class="team_players_panel">
    <ul class="team_players">
      <% team.players.each_with_index do |player,i| %>
        <li class="player" name="player<%=i+1%>"><%= player_photo(player, :size => :square)%><%= link_to player.name , player_path(player) %> </li>
      <% end %>
    </ul>
    </div>
  </div>

</div>
