<p id="notice"><%= notice %></p>

<div class="team_show">
  <div class="team_info_upper_subpanel">
    <fieldset class="team_emblems">
      <legend>Emblemas</legend>
      <%= team_emblems(@team) %>
    </fieldset>

    <div class="team_info_subpanel">
      <%= team_photo(@team) %>
      <h2><%= @team.name %></h2>
      <ul id="team_stats">
        <li>partidos jugados: <%= @team.games.count %> </li>
        <li>Ganados: <%= @team.stat.wins %> </li>
        <li>Perdidos: <%= @team.stat.lost %></li>
        <li>% victorias: </li>
      </ul>
    </div>
  </div>

  <fieldset><legend>Jugadores</legend>
    <ul class="team_players">
      <% @team.players.each do |player| %>
        <li class="player"><%= player_photo(player, :size => :normal)%><%= link_to player.name , player_path(player) %> </li>
      <% end %>
    </ul>
  </fieldset>
  <div class="facebook_like_panel">
    <%= team_like_button(@team) %>
    <%= facebook_comments_panel(@team) %>
  </div>
  
</div>

