<p id="notice"><%= notice %></p>

<h2>Team details: <%= @team.name%></h2>
<div class="team_show fields_container_panel">
  <div class="team_info_upper_subpanel">
    <div class="team_achievements">
      <%= render :partial => '/achievements/large_achievements_panel',
              :locals => {:statable => @team}%>
  </div>
    <div class="team_info_subpanel">
      <%= team_photo(@team) %>
      <h2><%= @team.name %></h2>
      <ul id="team_stats">
        <li>partidos jugados: <%= @team.games.count %> </li>
        <li>Ganados: <%= @team.stat.wins %> </li>
        <li>Perdidos: <%= @team.stat.lost %></li>
        <li>% victorias: </li>
      </ul>
    </div>
    </div>

    

  <fieldset ><legend>Jugadores</legend>
    <div id="players_list" class="inner_container">
      <ul id="team_players">
      <% @team.players.each do |player| %>
        <li class="player">
          <%= render :partial => 'players/player_panel', :locals => {:player => player}%>
        </li>
      <% end %>
    </ul>
    </div>
  </fieldset>
  </div>
  <div class="facebook_like_panel">
    <%= team_like_button(@team) %>
    <%= facebook_comments_panel(@team) %>
  </div>
  


