<%= form_for(@customer_playground_request) do |f| %>
  <% if @customer_playground_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_playground_request.errors.count, "error") %> prohibited this customer_playground_request from being saved:</h2>

      <ul>
      <% @customer_playground_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game %><br />
    <%= f.text_field :game %>
  </div>
  <div class="field">
    <%= f.label :playground %><br />
    <%= f.text_field :playground %>
  </div>
  <div class="field">
    <%= f.label :accept_code %><br />
    <%= f.text_field :accept_code %>
  </div>
  <div class="field">
    <%= f.label :reject_code %><br />
    <%= f.text_field :reject_code %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
