<h1>Reservation <%= @customer_playground_request.status == "confirmed" ? "Confirmed" : "Rejected"%></h1>
<p>
  <b>Game: </b>
  <%= @customer_playground_request.game.description %>
</p>
<p>
  <b>Playground:</b>
  <%= @customer_playground_request.playground.name %>
</p>


<%  %>

<p>Are you sure you want to confirm the reserve?</p>

<%= confirm_reservation_action_button(@customer_playground_request,
        @customer_playground_request.accept_code == params[:code])%>
<br></br>
<%= cancel_reservation_action_button(@customer_playground_request)%>

