<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @notification.player %>
</p>

<p>
  <b>Notification type:</b>
  <%= @notification.notification_type %>
</p>

<p>
  <b>Params:</b>
  <%= @notification.params %>
</p>

<p>
  <b>Read:</b>
  <%= @notification.read %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
