<%= form_for @customer, :remote => true do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="step" id="place">
    <%=  f.fields_for :places do |place_form| %>
      <div id="map" style="float:right;width:400px;height:400px"></div>
      <div class="field">
        <%= place_form.label :name %><br />
        <%= place_form.text_field :name, :id => "place_name"  %>
      </div>
      <div class="field">
        <%= place_form.label :full_address %><br />
        <%= place_form.text_field :full_address, :id => "place_full_address"  %>
      </div>
      <button id="geocode">Find</button>
      <ul id="geocoded_results"></ul>
      <%= place_form.hidden_field :latitude, :id => "place_latitude" %>
      <%= place_form.hidden_field :longitude, :id => "place_longitude" %>
      <%= place_form.hidden_field :country, :id => "place_country" %>
      <%= place_form.hidden_field :state, :id => "place_state" %>
      <%= place_form.hidden_field :city, :id => "place_city" %>
      <%= place_form.hidden_field :street, :id => "place_street" %>
    <%end%>
  </fieldset>
  <fieldset class="step" id="customer">
    <div class="field">
      <div id="message_box_panel"></div>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :surname %><br />
      <%= f.text_field :surname %>
    </div>

    <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

  </fieldset>
  <div class="actions">
  </div>
  <div id="demoNavigation">
    <input class="navigation_button" id="back" value="Back" type="reset" />
    <input class="navigation_button" id="next" value="Next" type="submit" />
  </div>
<% end %>
