
<%= form_for(@game, :remote => true) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="teams_selection_panel">
    
    <div class="team_field">
      <h3>Equipo 1</h3>
      <div id="game[team1_id]" name="game[team1_id]" class="team_selector first_team_selector"></div>
    </div>
    <div class="team_field">
      <h3>Equipo 2</h3>
      <div id="game[team2_id]" name="game[team2_id]" class="team_selector second_team_selector"></div>
    </div>
  </div>
  <div class="field">
    <h3>Playground</h3>
    <%= collection_select :game, :playground_id, Playground.all, :id, :name %><br />
  </div>
  <div id="map"></div>

  <div class="field">
    <h3>Crear evento en Facebook?</h3>
    <%= f.check_box :create_facebook_event %>

  </div>
  <div class="field">
    <%= f.label :play_date %><br />
    <%= f.datetime_select :play_date %>
  </div>
  <%= f.hidden_field :game_type, :value => "friendly" %>
  <div class="actions">
    <%= f.submit "Create Friendly"%>
  </div>
<% end %>
