<div class="catalog_filter_sidebar">
  <div class="sidebar_location_filter" style="display:none">
    <ul name="countries">
      <% @places.collect(&:country).uniq.each do |country| %>
        <li name="country" id="root_country" value="<%= country %>"><a><%= country %></a>
          <ul name="area_level1s">
            <% @places.select{|p| p.country == country}.collect(&:area_level1).uniq.each do |area1| %>
              <li name="area_level1" value="<%= area1 %>"><a><%= area1 %></a>
                <ul name="area_level2s">
                  <% @places.select{|p| p.area_level1 == area1}.collect(&:area_level2).uniq.each do |area2| %>
                    <li name="area_level2" value="<%= area2 %>"><a><%= area2 %></a>
                      <ul name="cities">
                        <% @places.select{|p| p.area_level2 == area2}.collect(&:city).uniq.each do |city| %>
                          <li name="city" value="<%= city %>"><a><%= city %></a></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="sidebar_date_filter">
    <h3 id="date_sidebar_title">Date</h3>
    <ul id="date_sidebar_filters_list">
      <% %w(today week month custom).each do |date_filter_option| %>
        <li name="<%=date_filter_option%>" value="<%= date_filter_option%>">
          <%= link_to date_filter_option, "#" %>
        </li>
      <% end %>
    </ul>


  </div>
</div>