<div id="game_result_panel">
  <div id="winner_team_subpanel"
        <%= "class='team2_won'" if game.winner_team == game.team2 %>>
    <p>Winner: <%= game.winner_team %> </p>
  </div>
  <h4>Score</h4>
  <table id="game_result_sets">
    <% game.sets.each do |set| %>
      <tr>
        <td <%= "class='win'" if set.team1_score > set.team2_score%> ><%= set.team1_score %></td>
        <td <%= "class='win'" if set.team2_score > set.team1_score%>><%= set.team2_score %></td>
      </tr>
    <% end %>
  </table>
</div>