<div class="catalog_filter_sidebar">
  <ul name="countries">
    <% @places.collect(&:country).uniq.each do |country| %>
      <li name="country" value="<%= country %>"><%= country %></li>

      <% @places.select{|p| p.country == country}.collect(&:area_level1).uniq.each do |area1| %>
        <ul name="area_level1s">
          <li name="area_level1" value="<%= area1 %>"><%= area1 %></li>

          <% @places.select{|p| p.area_level1 == area1}.collect(&:area_level2).uniq.each do |area2| %>
            <ul name="area_level2s">
              <li name="area_level2" value="<%= area2 %>"><%= area2 %></li>
              <% @places.select{|p| p.area_level2 == area2}.collect(&:city).uniq.each do |city| %>
                <ul name="cities">
                  <li name="city" value="<%= city %>"><%= city %></li>
                </ul>
              <% end %>
            </ul>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
</div>