<%= javascript_include_tag 'jquery.hotkeys' %>
<%= javascript_include_tag 'jquery.jstree' %>
<%= javascript_include_tag 'jquery.dataTables.min' %>
<%= javascript_include_tag 'date.format' %>
<%= javascript_include_tag 'games_index' %>

<%= new_game_link %>
<h1>Game board</h1>


<div id="games_catalogue">
  <%= games_catalogue_header %>
  <div id="catalogue_body">
    <div id="filter_side_bar">
      <%= render :partial => 'games_filter_sidebar',
                 :locals => {:geographic_area => get_user_geographic_area} %>
    </div>
    <div id="catalogue_items_list_container">
      <table id="games_table" cellpadding="0" cellspacing="0" border="0" class="display" >
        <thead>
          <tr>
            <th width="6%">Date</th>
            <th width="20%">City</th>
            <th width="20%">Playground</th>
            <th width="17%">Team 1</th>
            <th width="17%">Team 2</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>




