<%= javascript_include_tag 'jquery.hotkeys' %>
<%= javascript_include_tag 'jquery.jstree' %>
<%= javascript_include_tag 'games_index' %>

<%= new_game_link %>
<h1>Game board</h1>


<div id="games_catalogue">
  <%= games_catalogue_header %>
  <div id="catalogue_body">
    <div id="filter_side_bar">
      <%= render :partial => 'games_filter_sidebar',
                 :locals => {:geographic_area => get_user_geographic_area} %>
    </div>
    <div id="catalogue_items_list_container">
      <% @games.in_groups_of(2).each do |n_games_group| %>
        <div class="catalogue_items_container_row">
          <% n_games_group.compact.each do |game|%>

            <div class="catalogue_item_container clickable_container">
              <%=  render :partial => 'game_panel', :locals => {:game => game} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>




