<%= google_maps %>
<%= stylesheet_link_tag  'jquery.flexbox' %>
<%= javascript_include_tag 'jquery.flexbox'  %>
<%= stylesheet_link_tag  'jquery-ui-timepicker-addon' %>
<%= javascript_include_tag 'jquery-ui-timepicker-addon'  %>
<%= javascript_include_tag 'new_game'  %>
<h1>New game</h1>

<%= render 'form' %>

<%= link_to 'Back', games_path %>
