<%= google_maps %>
<%= stylesheet_link_tag  'jquery.flexbox' %>
<%= javascript_include_tag 'jquery.flexbox'  %>
<%= stylesheet_link_tag  'jquery-ui-timepicker-addon' %>
<%= javascript_include_tag 'jquery-ui-timepicker-addon'  %>
<%= javascript_include_tag 'new_game'  %>
<div class="grid_16">
  <%= page_section_title("New Game") %>
  
</div>
<%= render 'form' %>

<%= link_to 'Back', games_path %>
