<p id="notice"><%= notice %></p>

<div class="game_info">
  <h2 name="title"><%= game_title(@game) %></h2>
  <%= game_date_and_location(@game)%>
  <div class="game_teams_subpanel">
    <span>VS</span>
    <%= first_team_info(@game) %>
    <%= second_team_info(@game) %>
  </div>
  <h4 name="description"><%= @game.description%></h4>

  <%= game_like_button(@game) %>



  <% if @game.players.include?(current_player) %>

    <%= set_game_result_button(@game) %>
    <div class="game_result_panel inactive" >
      <h4>Please set the result of the game</h4>
      <%= form_for @game.build_result,
        :url =>game_result_path(@game),
        :remote => true                   do |f| %>
        <table class="result_sets_table">
          <tr>
            <th><%= @game.team1.name %></th>
            <th><%= @game.team2.name %></th>
            <th>Agregar set</th>
          </tr>
          <tr class="result_set_row">
            <td><input class="result_set_team_score_input" type="text" name="result[result_sets][0][team1]"></input></td>
            <td><input class="result_set_team_score_input" type="text" name="result[result_sets][0][team2]"></input></td>
            <td><button class="result_add_new_set_button" onclick="return false;">+</button></td>
          </tr>
        </table>
        <h3 class="provisional_score">Score: 0:0</h3>
        <label>Disconforme?</label> <%= check_box_tag "result[movida]", :no, false, %>
        <%= f.submit "Send the result" %>
      <% end %>
    </div>
  <%end%>
  <%= facebook_game_comments_panel(@game) %>

</div>