<%= javascript_include_tag 'show_game' %>
<%= javascript_include_tag 'game_result' %>
<%= google_maps %>

<p id="notice"><%= notice %></p>

<%= game_title(@game) %>
<div class="game_info fields_container_panel">
  <fieldset id="game_date_and_location_sub_panel">
    <legend>Location</legend>
    <div  class="inner_container">
    <% if @game.playground %>
      <%= game_date_and_location(@game)%>
      <div id="map"></div>
      <input type="hidden" name="playground_latitude" value="<%= @game.playground.latitude%>"></input>
      <input type="hidden" name="playground_longitude" value="<%= @game.playground.longitude%>"></input>
    <% end %>
  </div>
  </fieldset>
  
  <div class="game_teams_subpanel ">
    <% if @game.winner_team %>
      
    <% else %>
      <%= image_tag image_path("tennis_net.jpg"), :id=> "tennis_field_image" %>
    <% end %>
    
    <div class="first_team inner_container<%= " winner_team" if @game.winner_team == @game.team1%>">
      <%=  image_tag @game.team1.image.url %>
      <h3><%= @game.team1.name %></h3>
      <ul class="team_players_list">
        <% @game.team1.players.each do |player| %>
          <li class="player">
            <%= player_photo(player) %>
            <%=  link_to player.name, player_path(player), :class => 'player_name' %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="second_team inner_container<%= " winner_team" if @game.winner_team == @game.team2%>">
      <%=  image_tag @game.team2.image.url %>
      <h3><%= @game.team2.name %></h3>
      <ul class="team_players_list">
        <% @game.team2.players.each do |player| %>
          <li class="player">
            <%= player_photo(player) %>
            <%=  link_to player.name, player_path(player), :class => 'player_name' %>
          </li>
        <% end %>
      </ul>
    </div>
  <% if @game.winner_team %>
    <%= render :partial => 'game_result_panel', :locals => {:game => @game} %>
  <% end %>
  </div>
  
  <% if @game.players.include?(current_player) and @game.winner_team.blank? %>
    <%=  render :partial => 'set_game_result_panel', :locals => {:game => @game}  %>
  <%end%>
</div>
<div id="facebook_like_and_comments_subpanel">
  <%= game_like_button(@game) %>
  <%= facebook_game_comments_panel(@game) %>
</div>