<%= javascript_include_tag 'show_game' %>
<%= javascript_include_tag 'game_result' %>
<%= google_maps %>

<p id="notice"><%= notice %></p>

<%= game_title(@game) %>
<div class="game_info">
  <div class="game_teams_subpanel">
<%#*<span>VS</span>%>
    <%= image_tag image_path("tennis_field.png"), :id=> "tennis_field_image" %>
    <div class="first_team">
      <%=  image_tag @game.team1.image.url %>
      <h3><%= @game.team1.name %></h3>
      <ul class="team_players_list">
        <% @game.team1.players.each do |player| %>
          <li class="player">
            <%= player_photo(player) %>
            <%=  link_to player.name, player_path(player), :class => 'player_name' %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="second_team">
      <%=  image_tag @game.team2.image.url %>
      <h3><%= @game.team2.name %></h3>
      <ul class="team_players_list">
        <% @game.team2.players.each do |player| %>
          <li class="player">
            <%= player_photo(player) %>
            <%=  link_to player.name, player_path(player), :class => 'player_name' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="game_date_and_location_sub_panel">
    <% if @game.playground %>
      <%= game_date_and_location(@game)%>
      <div id="map"></div>
      <input type="hidden" name="playground_latitude" value="<%= @game.playground.latitude%>"></input>
      <input type="hidden" name="playground_longitude" value="<%= @game.playground.longitude%>"></input>
    <% end %>
  </div>
  <h4 name="description"><%= @game.description%></h4>
  <% if @game.winner_team %>
    <%= render :partial => 'game_result_panel', :locals => {:game => @game} %>
  <% end %>
  <% if @game.players.include?(current_player) and @game.winner_team.blank? %>
    <%=  render :partial => 'set_game_result_panel', :locals => {:game => @game}  %>
  <%end%>

  <div id="facebook_like_and_comments_subpanel">
    <%= game_like_button(@game) %>
    <%= facebook_game_comments_panel(@game) %>
  </div>

</div>