<div id="player_session_panel" class="fields_container_panel">

  <div id="player_login_panel">
    <h3>Log In</h3>
    <%= form_for :player, :url => "players/sign_in" do |f| %>
      <%= f.submit "log in" %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.label :password%>
      <%= f.password_field :password %>
      <%= link_to "sign up", new_player_path, :class=> "signup_link" %>
    <% end %>
    <div class="login_button_subpanel clickable_container">
      <%=  image_tag("facebook_button.png") %>
      <%= link_to "with facebook", player_omniauth_authorize_path(:facebook) %>
    </div>
  </div>
</div>
