<div class="player_panel">
  <div class="player_emblems_subpanel">
    <%= render :partial => '/achievements/large_achievements_panel',
      :locals => {:statable => player}%>
  </div>
  <div class="player_info_subpanel">
      <h3><%= link_to_unless_current player.name, player_path(player)%></h3>
      <div class="player_photo">
        <%= player_photo(player) %>
      </div>
    <div class="player_info">
      <%#*<button id="proba" value="sssasdf">kldasl%>
      <%#= tooltip "proba", { :tooltip => 'some keywords to categorize your data and help in future searches' }, :class => 'mytooltip' %>
        <%#*</button>%>

      <ul class="player_stats_list">
        <li>Games: <%= player.stat.wins + player.stat.lost %> </li>
        <li>Won: <%= player.stat.wins %> </li>
        <li>Lost: <%= player.stat.lost %></li>
      </ul>
    </div>
  </div>

</div>
