<p id="notice"><%= notice %></p>

<%= player_photo(@player, :size => :large)  %>
<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<%= player_like_button(@player) %>
<%= facebook_player_comments_panel(@player) %>
