<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% @place.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :id => "place_name" %>
  </div>
  <div class="field">
    <%= f.label :full_address %><br />
    <%= f.text_field :full_address, :id => "place_full_address" %>
  </div>
  <div id="map" style="float:right;width:400px;height:400px"></div>
  <button id="geocode">Geocode</button>
  <ul id="geocoded_results"></ul>
  <%= f.hidden_field :latitude, :id => "place_latitude" %>
  <%= f.hidden_field :longitude, :id => "place_longitude" %>
  <%= f.hidden_field :country, :id => "place_country" %>
  <%= f.hidden_field :state, :id => "place_state" %>
  <%= f.hidden_field :city, :id => "place_city" %>
  <%= f.hidden_field :street, :id => "place_street" %>
  <%= f.submit %>
<% end %>
