<!DOCTYPE html>
<html>
<head>
  <title>Padelotron</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= if player_signed_in?
        puts "Current: #{current_player.inspect}"
        render 'players/player_panel', :locals => {:player => current_player}
      else
        link_to "Sign in with Facebook", player_omniauth_authorize_path(:facebook)
      end
  %>
  <%= top_navigation_menu %>

<%= yield %>

</body>
</html>
